@charset "UTF-8";
@import "padroes/predefinicoes";


/////// LAYOUT
body, html {overflow-x: hidden;}
body {
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 1.7;
	color: $preto;
	font-family: $fonte-padrao;
	letter-spacing: 0.04em;
	position: relative;
	background-color: $cinza;

	// fundo
	&:before, &:after {
		content: ""; position: fixed; display: block;
		width: 50vw; height: 100vh; top: 0;
		background-image: url('../img/grafismo.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left top;
	}

	&:before { left: 0;}
	&:after { right: 0; @include transform(scale(-1));}

	& > * {position: relative; z-index: 1;}
	
	@media (max-width: $smart-maior) { font-size: 15px; }

	/****************************************
	 **** / INICIO DE ADICAO DE CORES / *****
	 ****************************************/
	@each $livros in $cores-livros{
		$i: index($cores-livros, $livros);
		&#livro#{$i}{

			#cabecalho {
				&:before {background-image: url('../img/header-livro#{$i}.svg');}
			}

			// area util
			#area-util {
				&:before {background: $livros;}
				header {
					&:before {background-image: url('../img/grafismo-h1-livro#{$i}.svg');}
				}
				// .infos strong {color: $livros}
			}

			// detalhes do artigo
			article {
				table {border-color: $livros}

				ol, ul {
					li:before {color: $livros}
				}

				p input[type="checkbox"] {
					& + label { background: $livros }
				}

				&:not(.sumario) a {
					&:link, &:visited, &:active, &:focus {
						color: $livros; word-break: break-all;
						box-shadow: inset 0 -2px 0 transparentize($livros,0.7);
						text-decoration: none !important;
					}

					&:hover, &:focus { box-shadow: inset 0 -19px 0 transparentize($livros,0.9);}
				}
			}

			// detalhes de sumario
			.sumario ol li a {
				&:hover, &:focus {border-color: $livros;}
			}


			// botao
			button.botao {
				&:focus, &:hover {background: $livros}
			}


			&.sumario {
				#cabecalho {
					&:before {background-image: url('../img/header-sumario-livro#{$i}.svg');}
				}				

				article.sumario {
					&:before {background-image: url('../img/header-livro#{$i}.svg');}
				}
			}


			#fakeloader-overlay .loader {
				border-top: 8px solid $livros;
				border-right: 8px solid $livros;
				border-bottom: 8px solid $livros;
				border-left: 8px solid transparentize($livros,0.5);
			}

			a#toTop {
				&:hover { color: $preto; background-color: $livros; }
			}
			
		}
	}
	/****************************************
	 ***** / FIM DE ADICAO DE CORES / *******
	 ****************************************/
}

@import "layout/componentes";
@import "layout/portal";
@import "layout/livro3";
@import "layout/artigo";
@import "padroes/loader";


a#toTop {
	width: 46px; height: 46px;
	border-radius: 50%;
	position: fixed; bottom: 20px;
	right: 20px; opacity: 0;
	text-align: center;
	background: $preto;
	font-weight: normal !important;
	border: 3px solid $cinza;
	text-decoration: none !important;
	color: white;
	@include transition(opacity 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out);

	&.mostra { opacity: 1 }

    span {
		display: block; letter-spacing: -1px;
		@include transform(rotate(-90deg)); 
	    width: 24px;
	    height: 18px;
	    font-size: 23px;
	    line-height: 19px; 
	    margin: 10px auto 0;
	}
}


@import "print";