.sessao-portal {
	min-height: 100vh;
	background: white;
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(column);	
    @include justify-content(center);
	padding: 2em 0;	
}

#portal {
	
	&:before, &:after {
		content: ""; position: absolute;
		bottom: 2em;
	}


	header {
		@include align-self(center);
		margin: 0 auto;
		width: 90%;
		max-width: 560px;
		position: relative;

		svg {
			position: relative;
			@include transform-origin(center center);
			@include animation(rodarBola 10s linear 0s infinite);

			@include keyframes(rodarBola) {
			    from {@include transform(rotate(0));}
			    to {@include transform(rotate(360deg));}
			}

			g.cores path {
				fill: $preto;
				@include transition(fill 0.2s ease-in-out);
			}
		}

		&:hover {
			svg g.cores path {
				&.vermelho {fill: nth($cores-livros, 1);}
				&.azul {fill: nth($cores-livros, 2);}
				&.verde {fill: nth($cores-livros, 3);}
				&.amarelo {fill: nth($cores-livros, 4);}
				&.roxo {fill: nth($cores-livros, 5);}
			}
		}

		.acesso {
			width: 100%;
			position: absolute;
			padding: 2em; top: 50%; left: 0;
			@include transform(translateY(-50%));

			h1, a {
				width: 100%;
				margin: 0 auto;
				display: block;
				text-align: center; 
				line-height: 1;
				position: relative;
			}

			h1 {
				font-size: 2.6em;
				font-weight: normal;

				span { font-size: 2em; display: block;}

				@media (max-width: $smart-menor) { font-size: 1.8em; }
			}

			a {
				margin-top: 2em;

				&:after {
					content: '\2198'; color: white;
					display: inline-block; padding: .2em;
					background: $preto; font-size: .7em;
				    vertical-align: bottom; margin-left: .7em;
				}
			}
		}
	}

	nav {
		padding: 2em; position: absolute; width: 100%;
		top: 0; left: 0; font-size: .8em;

		ul {
			@include flex(space-between);

			li {
				width: 50%;
				margin-bottom: 1em;
				font-family: $fonte-titulos;
				text-transform: uppercase;
				
				&:nth-of-type(odd) { 
					text-align: left;
					a { border-left: 30px solid; padding-left: 20px }
				}
				&:nth-of-type(even) { 
					text-align: right;
					a { border-right: 30px solid; padding-right: 20px; }
				}

				a { display: block; @include transition(border-color 0.2s ease-in-out); }


				// definicao automatica de ordem de cores
				@each $livros in $cores-livros{
					$i: index($cores-livros, $livros);
					&:nth-of-type(#{$i}) a {
						&:focus, &:hover {
							border-color: $livros;
						}
					}
				}
			}
		}
	}
}


#livros {

}